<header>
    <div class="buscador">
        <input type="text" placeholder="Buscar">
        <button type="button" class="btn btn-outline-primary">
            <span class="material-symbols-outlined">
                search
            </span>
        </button>
    </div>
    <div class="nombre">Rafael Alejandro Betancur Arango</div>
    <div class="perfil">
        <img src="" alt="">
    </div>
</header>
<section class="sec1">
    <div class="select">
        <select>
            <option>Filtros</option>
            <option>Mejor calificacion</option>
            <option>Más reciente</option>
            <option>Más cercano</option>
        </select>
        <div class="select_arrow">
        </div>
    </div>
</section>
<section class="sec2">
    <div class="not1">
        <div class="profilePhotoNot">
            <img src="" alt="" >
        </div>
        <div class="client">
            Rafael Alejandro Betancur Aarango
        </div>
        <div class="botton">
            <button type="button" class="dea btn btn-outline-success">
                Contratar</button>
        </div>
    </div>
</section>