<section class="sec2"></section>
<section class="sec1">
    <div class="form-box">
        <form (ngSubmit)="onLogin()" [formGroup]="Login">
            <div class="title-box">Pa' Camellar</div>
            <div class="inputbox">
                <input class="form-control form-control-lg" type="email" name="mail" id="mail" placeholder="Email" formControlName="email">
            </div>
            <div class="inputbox">
                <input class="form-control form-control-lg" type="password" name="pass" id="pass" placeholder="Contraseña" formControlName="password">
            </div>
            <div class="forget">
                <label for=""><input type="checkbox">Recordarme <a href="#">Olvidé mi contraseña</a></label>
            </div>
            <button id="button-send-credentials" type="submit" [disabled]="Login.invalid" class="btn btn btn-dark btn-block">Ingresar</button>
            <div class="register">
                <p>¡Quiero formar parte! <a href="#">Registrarme</a></p>
            </div>
        </form>
    </div>
</section>