<section class="sec1">
    <div class="imgPerfil">
        <img class="aam1" src="">
    </div>
    <div class="habilidadesSec1">
        <h1 class="asdf">Selecciona tus habilidades</h1>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
    </div>
    <div class="continuar">
        <button type="button" class="btn btn-dark">Continuar</button>
    </div>
</section>
<section class="sec3">
    <div class="title">
        <h1>Selecciona tu trabajo</h1>
    </div>
</section>
<section class="sec2">
    <div class="habilidadesSec2">
        <div class="trabajos1">
            <p>Trabajadores domesticos</p>
        </div>
        <div class="trabajos2">
            <p>Trabajadores de construccion</p>
        </div>
        <div class="trabajos3">
            <p>Trabajadores agricolas</p>
        </div>
        <div class="trabajos4">
            <p>Jardineros</p>
        </div>
        <div class="trabajos5">
            <p>Estilistas</p>
        </div>
        <div class="trabajos6">
            <p>Cocineros</p>
        </div>
    </div>
</section>