<section class="sec1">
    <div class="part1">
        
    </div>
    <div class="part2">
        <h1>Pa Camellar</h1>
        <i>¡Somos una comunidad dispuesta a ayudar a nuestra gente!</i>
        <p>
            ¿Quieres <button type="button" class="btn btn-outline-dark" routerLink="/login">Ingresar</button> Ó 
            <button type="button" class="btn btn-outline-primary" routerLink="/register">Registrarte</button> ?
        </p>
    </div>
  </section>
  <section class="sec2">
    <div class="part3">
        <p>En Colombia, el empleo informal representa una parte significativa del mercado laboral. Este tipo de empleo se caracteriza por la falta de seguridad social, contratos formales y protección laboral.</p>
    </div>
    <div class="part4"></div>   
  </section>