<section class="sec1">
    <div class="profile">
        <img src="" class="profilePhoto">
    </div>
    <div class="profileTitle">
        <p>Su perfil</p>
    </div>
    <div class="profileDescription">
        <p>Nombre: Rafael Alejandro Betancur Aarango</p>
        <p>Profesion: Cocinero</p>
        <div class="clasificacion">
            Calificacion
            <p class="nota">4.5</p>
        </div>
    </div>
</section>
<section class="sec2">
    <div class="titleServices">
        <p>Servicios que ofreces</p>
    </div>
    <div class="services">
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
        <div class="habilidades">a</div>
    </div>
    <div class="titleNotifications">Notificaciones</div>
    <div class="notifications">
        <!--Empieza la notificacion-->
        <div class="not1">
            <div class="profilePhotoNot">
                <img src="" alt="" >
            </div>
            <div class="client">
                Rafael Alejandro Betancur Aarango
            </div>
            <div class="botton">
                <button type="button" class="btn btn-outline-success">
                    <span class="material-symbols-outlined">
                    done
                    </span></button>
                <button type="button" class="btn btn-outline-danger">
                    <span class="material-symbols-outlined">
                    close
                    </span></button>
            </div>
        </div>
        <!--Termina la notificacion-->
    </div>
</section>