<section class="sec1">
    <div class="profile">
        <img src="" class="profilePhoto">
    </div>
    <div class="profileTitle">
        <p>Su perfil</p>
    </div>
    <div class="profileDescription">
        <p>Nombre: Rafael Alejandro Betancur Aarango</p>
        <p>Profesion: Cocinero</p>
        <div class="clasificacion">
            Calificacion
            <p class="nota">4.5</p>
        </div>
    </div>
</section>
<section class="sec2">
    <div class="trabajo">
        <h1>Habilidades</h1>
        <div class="habilidades">a</div>
    </div>
    <div class="experiencia">
        <h1>Experiencia</h1>
        <div class="resumen">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam similique repellat nesciunt ipsum, reiciendis repellendus, saepe vel illum autem unde earum harum quod! Debitis soluta nobis aliquid quod tempore atque!</p>
        </div>
    </div>
    <div class="contacto">
        <button type="button" class="btn btn-outline-success">Contratar</button>
    </div>
</section>